.user__container {
    width: 100%;
    border: 0.2rem solid #000;
    display: flex;
    position: relative;
}

.avatar {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: #fff;
    font-size: 1rem;
}

.btn__delete {
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #000;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    cursor: pointer;
}
