.App {
}

.input__email {
    border: 0.1rem solid #000;
}

.button__email {
    cursor: pointer;
    background-color: rgb(0, 119, 255);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.button__email:disabled,
.button__email[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
